[submodule "Assets/UnityOSC"]
	path = Assets/UnityOSC
	url = https://github.com/n1ckfg/UnityOSC
[submodule "Assets/latkUnity"]
	path = Assets/latkUnity
	url = https://github.com/LightningArtist/latkUnity
[submodule "Assets/UnityMultiCam"]
	path = Assets/UnityMultiCam
	url = https://github.com/n1ckfg/UnityMultiCam
